
$color-blue-light: #4BA7EE;
$color-blue-mid-light: #1c6196;
$color-blue-mid: #003970;
$color-blue-dark: #001841;

$color-white: #FFFFFF;
$color-gray: #4E5156;
$color-gray-light: #adb0b4;
$color-black: #000;

$color-red: #DB171D;
$color-orange: #FF1B48;
$color-yellow: #FFEF63;
