@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-first: 'Roboto Slab', serif;
$font-second: 'Roboto', sans-serif;

$font-regular: 300;
$font-bold: 700;

$font-2xl: 38px;
$font-xl: 30px;
$font-l: 24px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 14px;